<div class="w-full place-self-center lg:col-span-6 flex justify-center items-center min-h-[calc(100vh-160px)]">
  <div class="p-4 sm:p-8 mx-auto bg-white border border-gray-200 rounded-lg shadow-lg dark:border-gray-700 dark:bg-gray-800 sm:max-w-xl">
    <% if alert = flash[:alert] %>
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" id="alert">
        <%= alert %>
      </div>
    <% end %>

    <% if notice = flash[:notice] %>
      <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" id="notice">
        <%= notice %>
      </div>
    <% end %>

    <%= form_with url: session_url, class: "mt-4 space-y-6 sm:mt-6" do |form| %>
      <div class="grid gap-6 sm:grid-cols-2">
        <div>
          <label for="email_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "name@company.com", value: params[:email_address], class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>

        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "••••••••", maxlength: 72, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <%= form.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" %>
          </div>
          <div class="ml-3 text-sm">
            <label for="remember_me" class="text-gray-500 dark:text-gray-400">Remember me</label>
          </div>
        </div>
        <%= link_to "Forgot password?", new_password_path, class: "text-sm font-medium text-primary-700 hover:underline dark:text-primary-500" %>
      </div>

      <div class="mt-6">
        <%= form.submit "Sign in", class: "w-full text-white bg-[#1C3835] hover:bg-[#152A27] focus:ring-4 focus:outline-none focus:ring-[#1C3835]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
      </div>
    <% end %>
  </div>
</div>
