<!DOCTYPE html>
<html class="hub-layout">
  <head>
    <title><%= content_for(:title) || "Tuber HUB" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="environment" content="<%= Rails.env %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag :app, :hub_fonts, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </head>

  <body class="bg-gray-50">
    <div class="hub-layout">
      <div class="antialiased bg-gray-50 dark:bg-gray-900">
        <%= render "layouts/hub/shared/navbar" %>
        <%= render "layouts/hub/shared/sidebar" %>

        <main class="p-4 md:ml-64 min-h-screen pt-20">
          <%= render "layouts/hub/shared/flash_messages" %>
          <% consume_flash %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
