<!-- Apps -->
<button
  type="button"
  data-dropdown-toggle="apps-dropdown"
  class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
>
  <span class="sr-only">View notifications</span>
  <!-- Icon -->
  <%= icon "grid-3x3", library: "lucide", variant: "outline", class: "w-6 h-6" %>
</button>
<!-- Dropdown menu -->
<div
  class="hidden overflow-hidden z-50 my-4 max-w-sm text-base list-none bg-white rounded divide-y divide-gray-100 shadow-lg dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
  id="apps-dropdown"
>
  <div
    class="block py-2 px-4 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-600 dark:text-gray-300"
  >
    Apps
  </div>
  <div class="grid grid-cols-3 gap-4 p-4">
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "shopping-bag", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Sales</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "users", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Users</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "inbox", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Inbox</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "user-round", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Profile</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "settings", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Settings</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "archive", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Products</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "dollar-sign", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Pricing</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "settings", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Settings</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "bookmark", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Billing</div>
    </a>
    <a
      href="#"
      class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
      <%= icon "log-out", library: "lucide", variant: "outline", class: "mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" %>
      <div class="text-sm text-gray-900 dark:text-white">Logout</div>
    </a>
  </div>
</div>
