<nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex justify-start items-center">
      <button
        data-drawer-target="drawer-navigation"
        data-drawer-toggle="drawer-navigation"
        aria-controls="drawer-navigation"
        class="p-2 mr-2 text-gray-600 rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <%= icon "bars-3", variant: "outline", class: "w-6 h-6" %>
        <%= icon "x-mark", variant: "outline", class: "hidden w-6 h-6" %>
        <span class="sr-only">Toggle sidebar</span>
      </button>
      <a href="#" class="flex items-center justify-between mr-4">
        <%= image_tag "legacy-logos/tdc.png", alt: "Truffière de Cément Logo", class: "mr-3 h-8" %>
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tuber HUB</span>
      </a>
      
      <!-- Farm Switcher -->
      <% if Current.user && Current.user.farms.any? %>
        <%= render 'shared/farm_switcher' %>
      <% end %>
      
    </div>
    
    <div class="flex items-center lg:order-2">
      <button
        type="button"
        data-drawer-toggle="drawer-navigation"
        aria-controls="drawer-navigation"
        class="p-2 mr-1 text-gray-500 rounded-lg md:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
      >
        <span class="sr-only">Toggle search</span>
        <%= icon "magnifying-glass", variant: "outline", class: "w-6 h-6" %>
      </button>
      <%= render "layouts/hub/shared/navbar/notifications" %>
      <%= render "layouts/hub/shared/navbar/apps" %>
      <%= render "layouts/hub/shared/navbar/profile" %>
    </div>
  </div>
</nav>
